.mapList {
  display: flex;
  justify-content: space-between;
}

.mapList__left {
  flex: 0.85;
}

.mapList__right {
  flex: 0.15;
  background-color: lightgray;
  margin-left: 8px;
  overflow-y: scroll;
  height: 530px;
  padding: 4px;
  border-radius: 10px;
}
